In [1]:
import pytz
import pandas
from datetime import datetime

import gtfs_kit as gk

In [2]:
vehicle_positions = pandas.read_parquet("../data/vehicle_positions.parquet")
vehicle_positions = vehicle_positions.tz_localize('UTC')

In [3]:
feed = gk.read_feed("../downloads/schedule_updates/2024-03-20T06_34_14.zip", dist_units='km')

## Linee monitorate

In [4]:
def get_monitored_routes(vehicle_positions: pandas.DataFrame):
    return vehicle_positions["vehicle.trip.route_id"].unique()

In [5]:
planned_routes = feed.get_routes()["route_id"].unique()
monitored_routes = get_monitored_routes(vehicle_positions)
unimonitored_routes =  set(planned_routes) - set(monitored_routes)

### Percentage of monitored routes

In [6]:
round(len(monitored_routes) / len(planned_routes) * 100, 1)

93.7

## Route Analysis

In [7]:
ROUTE = "360"
DATE = datetime(2024, 3, 20, 4, tzinfo=pytz.timezone('Europe/Rome'))

In [8]:
vehicle_positions = vehicle_positions[vehicle_positions.index.to_series().dt.date == DATE.date()]

In [9]:
route_timetable = feed.build_route_timetable(ROUTE, [DATE.strftime("%Y%m%d")])

/home/fra/.cache/pypoetry/virtualenvs/datac-analysis-5tLNiopQ-py3.9/lib/python3.9/site-packages/gtfs_kit/routes.py:677: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  f["dt"] = f["departure_time"].fillna(method="ffill")
/home/fra/.cache/pypoetry/virtualenvs/datac-analysis-5tLNiopQ-py3.9/lib/python3.9/site-packages/gtfs_kit/routes.py:678: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  f["min_dt"] = f.groupby("trip_id")["dt"].transform(min)

In [11]:
def get_route_vehicle_positions(vehicle_positions: pandas.DataFrame, route: str, date: datetime):
    route_vehicle_positions = vehicle_positions[vehicle_positions["vehicle.trip.route_id"] == route].copy()
    route_vehicle_positions["vehicle.trip.trip_id"] = route_vehicle_positions["vehicle.trip.trip_id"]#.str.replace("0#", "1#")
    route_vehicle_positions.reset_index(inplace=True)
    route_vehicle_positions = route_vehicle_positions[route_vehicle_positions["vehicle.timestamp"] >= date]
    return route_vehicle_positions.sort_values("vehicle.timestamp")

In [12]:
route_vehicle_positions = get_route_vehicle_positions(vehicle_positions, route=ROUTE, date=DATE)

## Failed Trips

In [14]:
route_planned_trips = route_timetable["trip_id"].unique()
route_actual_trips = route_vehicle_positions["vehicle.trip.trip_id"].unique()
route_failed_trips = set(route_planned_trips) - set(route_actual_trips)
len(route_planned_trips), len(route_failed_trips)

(208, 35)

In [15]:
route_timetable[(route_timetable["trip_id"].isin(route_failed_trips)) & (route_timetable["stop_sequence"] == 1)][["trip_id","trip_headsign","departure_time","date"]]

           trip_id trip_headsign departure_time      date
3865217   0#4657-3          MUSE       05:28:00  20240320
3865233   0#4657-4          ZAMA       05:50:00  20240320
3865264   0#4657-5          MUSE       06:31:00  20240320
3866462   0#4660-4          MUSE       07:02:00  20240320
3865293   0#4657-6          ZAMA       07:22:00  20240320
3862187   0#4650-3          MUSE       07:46:00  20240320
3866491   0#4660-5          ZAMA       07:52:00  20240320
3862203   0#4650-4          ZAMA       08:19:00  20240320
3865324   0#4657-7          MUSE       08:27:00  20240320
3866522   0#4660-6          MUSE       08:56:00  20240320
3862234   0#4650-5          MUSE       09:27:00  20240320
3865353   0#4657-8          ZAMA       09:33:00  20240320
3866551   0#4660-7          ZAMA       10:00:00  20240320
3862263   0#4650-6          ZAMA       10:27:00  20240320
3866582   0#4660-8          MUSE       11:02:00  20240320
3862294   0#4650-7          MUSE       11:29:00  20240320
3866611   0#4660-9          ZAMA       11:59:00  20240320
3862323   0#4650-8          ZAMA       12:27:00  20240320
3866642  0#4660-10          MUSE       13:02:00  20240320
3862354   0#4650-9          MUSE       13:32:00  20240320
3866671  0#4660-11          ZAMA       13:59:00  20240320
3862383  0#4650-10          ZAMA       14:29:00  20240320
3866702  0#4660-12          MUSE       15:01:00  20240320
3862414  0#4650-11          MUSE       15:31:00  20240320
3866731  0#4660-13          ZAMA       15:59:00  20240320
3862443  0#4650-12          ZAMA       16:31:00  20240320
3866762  0#4660-14          MUSE       17:06:00  20240320
3864285  0#4654-14          ZAMA       17:24:00  20240320
3862474  0#4650-13          MUSE       17:38:00  20240320
3866791  0#4660-15          ZAMA       18:10:00  20240320
3865806  0#4658-17          MUSE       18:58:00  20240320
3866822  0#4660-16          MUSE       19:24:00  20240320
3866851  0#4660-17          ZAMA       20:27:00  20240320
3866882  0#4660-18          MUSE       21:25:00  20240320
3866911  0#4660-19          ZAMA       22:22:00  20240320